@font-face{font-family:impact;src:url(../fonts/impact.eot);src:url(../fonts/impact.eot?#iefix) format("embedded-opentype"),url(../fonts/impact.woff) format("woff"),url(../fonts/impact.ttf) format("truetype");font-weight:400;font-style:normal}

@font-face{font-family:fzzzh;src:url(../fonts/fzzzh.eot);src:url(../fonts/fzzzh.eot?#iefix) format("embedded-opentype"),url(../fonts/fzzzh.woff) format("woff"),url(../fonts/fzzzh.ttf) format("truetype"),url(../images/fzzzh.svg) format("svg");font-weight:400;font-style:normal}

@font-face{font-family:iconfont;src:url(../fonts/iconfont.eot);src:url(../fonts/iconfont.eot?#iefix) format("embedded-opentype"),url(../fonts/iconfont.woff) format("woff"),url(../fonts/iconfont.ttf) format("truetype"),url(iconfont.svg#iconfont) format("svg")}


.iconfont{
	font-family:iconfont,sans-serif;
	font-style:normal;
	-webkit-text-stroke-width:.2px;
	-moz-osx-font-smoothing:grayscale;
	}