


.selection_1{
	height: 480px;
	width: 1190px;
	margin: 0 auto;
	background: lightyellow;
}
.selection_2{
	height: 275px;
	width: 1190px;
	margin: 0 auto;
	background: orangered;
}
.selection_3{
	height: 900px;
	width: 1190px;
	margin: 0 auto;
	background: lightyellow;
}
.selection_4{
	height: 1350px;
	width: 1190px;
	margin: 0 auto;
	background: orangered;
}
